ASPNETCORE_ENVIRONMENT=Production
Jwt__Key=troque-por-uma-chave-forte-com-pelo-menos-32-caracteres
Jwt__Issuer=AlmoxarifadoAPI
Jwt__Audience=AlmoxarifadoUsuarios
Jwt__DurationInMinutes=60
Firebase__ProjectId=almoxarifadosenaicxs
Cors__AllowedOrigins__0=https://seu-front.vercel.app
FIREBASE_CREDENTIALS_JSON={"type":"service_account","project_id":"..."}
Email__SmtpHost=smtp.resend.com
Email__SmtpPort=587
Email__SmtpUser=resend
Email__SmtpPass=re_xxxxxxxxxxxxxxxxx
Email__FromEmail=seu-email@seudominio.com
Email__FromName=Sistema Almoxarifado SENAI
Email__EnableSsl=true
